<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forum - Free Bulma template</title>
  <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.7.2-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
  <div id="app">
    <nav class="navbar is-white topNav">
      <div class="container">
        <div class="navbar-brand">
          <h1>Goal Planner</h1>
        </div>
      </div>
    </nav>
    <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-active" href="#">Newest</a>
            <a class="navbar-item" href="#">In Progress</a>
            <a class="navbar-item" href="#">Finished</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="container">
      <div class="columns">
        <div class="column is-3">
          <a @click="toggleFormDisplay" v-if="!isFormDisplayed" class="button is-primary is-block is-alt is-large"
            href="#">New
            Goal
          </a>
          <div v-if="isFormDisplayed" class="create-form">
            <form>
              <div class="field">
                <div class="control">
                  <input v-model="newGoal.title" class="input" type="text" placeholder="Goal title">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <textarea v-model="newGoal.notes" class="textarea" placeholder="Notes"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" @click="createNewGoal">Create Goal</button>
                  <button class="button" v-if="isFormDisplayed" @click="toggleFormDisplay">Hide Form</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-9">
          <div class="box content">
            <goal-item v-for="goal in goals" :goal="goal" :user="user" :key="goal.id"></goal-item>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./components/Goal.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        user: {
          name: 'Phil Chan',
          id: '-Aj34jknvncx98812',
        },
        newGoal: {
          title: '',
          notes: ''
        },
        isFormDisplayed: false,
        goals: {
          '1546968934': {
            id: '1546968934',
            title: 'Learn Vue.js',
            notes: 'Started new vue course',
            progress: 0,
            category: '1546969049',
            createdAt: 1546969144391,
            updatedAt: 1546969144391
          },
          '1546969212': {
            id: '1546969212',
            title: 'Read Malcolm Gladwell Books',
            notes: 'Good stuff',
            progress: 0,
            category: '1546969049',
            createdAt: 1546969144391,
            updatedAt: 1546969144391
          }
        },
        categories: {
          '1546969049': { text: 'books' },
          '1546969225': { text: 'movies' }
        }
      },
      methods: {
        toggleFormDisplay() {
          this.isFormDisplayed = !this.isFormDisplayed
        },
        createNewGoal() {
          const id = Math.random().toString(10).substr(2, 10)
          this.goals = {
            ...this.goals,
            [id]: {
              id,
              title: this.newGoal.title,
              notes: this.newGoal.notes,
              progress: 0,
              category: 'dummy',
              createdAt: new Date(),
              updatedAt: new Date()
            }
          }
          this.newGoal = {
            title: '',
            notes: ''
          }
          this.isFormDisplayed = false
        }
      }
    })
  </script>
</body>

</html>